<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="misc/js/jquery-2.1.4.min.js"></script>
<link href="misc/css/busstyle.css" rel="stylesheet" type="text/css" />
<title>hello request test page!</title>
</head>
<body>
	<div id="mainDiv">
		<div id="topDiv"></div>
		<div id="centerDiv">
			<h1>name</h1>
		</div>
		<div id="bottomDiv"></div>
	</div>
	<noscript>
		<p>如果您想查看此网页，则必须启用JavaScript。 然而，JavaScript 似乎被禁用，要么就是您的 浏览器不支持
			JavaScript。请更改您的浏览器 选项以启用 JavaScript，然后刷新。</p>
	</noscript>
</body>
</html>